.post-container {
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 0.5rem;
}

ion-card.post-container:last-of-type {
  margin-bottom: 7.75rem;
}

.post-container:not(:last-child) {
  border-bottom: 0.5px solid var(--ion-color-step-250);
}

.post--inner-container {
  display: flex;
  flex-direction: column;
}

.post-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.post-profile ion-router-link {
  display: flex !important;
  flex-direction: row !important;
}

.post-profile-info ion-avatar {
  height: 2.2rem;
  width: 2.2rem;
  box-shadow: 2px 1px 5px var(--ion-color-medium);
}

.post-profile-info ion-thumbnail ion-skeleton-text {
  --border-radius: 9999px;
  height: 2.2rem;
  width: 2.2rem;
}

.post-profile-info p {
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--ion-text-color);
}

.post-profile-info ion-skeleton-text,
.post-profile-more ion-skeleton-text,
.post-bookmark ion-skeleton-text {
  --border-radius: 0.2rem;
}

.post-profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.post-image,
.post-image-skeleton {
  position: relative;
  border-top: 1px solid rgb(216, 216, 216);
  margin-top: 0.5rem;
  height: 20rem;
  width: 100%;
}

ion-icon.post-image-like {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  --ionicon-stroke-width: 3px;
  cursor: pointer;
}

ion-card .post-image-skeleton {
  border-top: none;
  border-radius: 0;
}

.post-image-skeleton ion-skeleton-text {
  --border-radius: 0;
}

@media (min-width: 480px) {
  .post-image {
    position: relative;
    border-top: 1px solid rgb(216, 216, 216);
    margin-top: 0.5rem;
    height: 40rem;
    width: 100%;
  }
}

.post-actions-container {
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 0.5rem;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.7rem;
}

.post-bookmark ion-icon,
.post-actions .btn-action > ion-icon {
  font-size: 1.5rem;
  filter: drop-shadow(1px 1.2px var(--ion-color-medium));
}

.post-likes-container {
  padding-left: 0.75rem;
  margin-top: 0.5rem;
}

.post-likes-container p {
  margin: 0;
  padding: 0;
  font-weight: 200 !important;
  font-size: 0.8rem;
}

.post-liked-name {
  font-weight: 600;
}

.post-title {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.3rem;
}

.post-title p {
  margin: 0;
  padding: 0;
  font-weight: 200 !important;
  font-size: 0.8rem;
}

.post-name {
  color: var(--ion-text-color) !important;
  font-weight: 600 !important;
}

.post-name ion-router-link {
  color: var(--ion-text-color);
}

.post-user-comment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border-bottom: 0.01rem solid var(--ion-color-step-250);
}

.post-comments {
  margin: 0;
  padding: 0;
}

ion-label > .post-comments-header {
  color: rgb(175, 175, 175);
  font-size: 0.8rem;
}

.post-comments-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.post-comment-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.post-comment-profile {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  gap: 0.5rem;
  color: var(--ion-text-color);
}

.post-add-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

@media (min-width: 480px) {
  .post-add-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    align-content: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.post-add-comment-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.post-add-comment-profile ion-avatar,
.post-comment-profile ion-avatar {
  height: 1.5rem !important;
  width: 1.5rem !important;
  --border-radius: 50%;
  border-radius: 50%;
  box-shadow: 2px 1px 5px var(--ion-color-medium);
}

.post-add-comment-profile p,
.post-comment-profile p {
  padding-left: 0.75rem;
  font-size: 0.8rem;
}

.post-add-comment-profile p {
  color: rgb(175, 175, 175);
}

.post-add-comment-actions ion-icon {
  padding-left: 0.5rem;
}

.post-time {
  align-self: flex-end;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0rem;
}

.post-time p {
  margin: 0;
  padding: 0;
  color: rgb(175, 175, 175);
  font-size: 0.6rem;
}

.btn-action {
  background-color: transparent;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
