.register-page {
position: relative;
height: 100dvh;

background: url(../../assets/content/bg-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% -30%;
    filter: blur(26);
}


.register-toolbar {
--background: transparent;
}

 ion-content.register-content {
  --background: transparent;

  position: absolute;
  z-index: 10;
  top: 4vh;
} 

.register-card {
  display: flex;
  flex-direction: column;
  max-height: 90vh;   
  backdrop-filter: blur(26px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #b1aaf511;
  border-radius: 1.25rem;
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
}

/* Hide scrollbar for WebKit browsers */
.scrollable-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide scrollbar for Firefox */
.scrollable-content {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for other browsers */
.scrollable-content {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Form styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 20px;
}

ion-list.list-ios {
  background: transparent;
}

.form ion-list.register-ion-list ion-item,
.form ion-item {
  --background: transparent;
}

.form ion-checkbox {
  --checkbox-background: transparent;
  
    --size: 24px;
    --checkbox-background-checked: var(--ion-color-secondary);

    
  
}

.form ion-checkbox::part(container) {
  border-radius: 6px;
  border: 0.5px solid var(--ion-color-dark);
}

.form .gender-error {
  font-size: 10px;
}

.register-list-wrapper {
  
  @media (min-width: 768px) {
    display: flex;
  }
}

.register-gender-text {
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.register-gender-item {
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}
