.container {
  border-bottom: 0.0625rem solid var(--ion-color-light);
  padding-bottom: 1rem;
}

.container-details {
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

ion-label.stat-module {
  display: inline-block;
  margin: 0;
}

.stat-number {
  display: inline-block;
}

.list-tags {
  flex-wrap: wrap;
}

ion-item.tag {
  border-radius: 0.8125rem;
  padding: 0.5rem 0.625rem;
  width: 9.375rem;
  --background: transparent;
  --min-height: 0;
  font-size: 0.8rem;
  cursor: pointer;
}

.tag:nth-child(1) {
  background: var(--ion-color-intro-violet);
}

.tag:nth-child(1):hover,
.tag:nth-child(1):focus {
  background: var(--ion-color-intro-violet-shade);
}

.tag:nth-child(2) {
  background-color: var(--ion-color-intro-green);
}
.tag:nth-child(2):hover,
.tag:nth-child(2):focus {
  background-color: var(--ion-color-intro-green-shade);
}

.tag:nth-child(3) {
  background-color: var(--ion-color-intro-rosy);
}
.tag:nth-child(3):hover,
.tag:nth-child(3):focus {
  background-color: var(--ion-color-intro-rosy-shade);
}
