body {
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 1.125rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

/* chrome, safari */
ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}
/* firefox */
ion-content::part(scroll) {
  scrollbar-width: none;
}

ion-content {
  width: calc(100% + 0.9375rem);
}

ion-content::part(scroll) {
  padding-right: 0.9375rem;
  padding-left: 0;
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
}

/* Hide scrollbar for WebKit browsers */
.scrollable-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide scrollbar for Firefox */
.scrollable-content {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for other browsers */
.scrollable-content {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cover-center {
  object-fit: cover;
  object-position: center;
}

.margin-y-2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.padding-medium-12 {
  padding: 3rem;
}

.margin-bottom-4 {
  margin-bottom: 1rem;
}

ion-grid {
  gap: 0.5rem;
}

ion-tab-button ion-label {
  font-size: 12.8px;
}

.custom-link {
  color: var(--ion-color-primary);
}

.custom-back {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 0.3125rem;
  font-size: 12.8px;
  padding-left: 12px;
  padding-right: 12px;
}

.custom-button {
  --background: linear-gradient(45deg, #998bff, #2a7ff7, #04357e);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  --background-hover: linear-gradient(-45deg, #e6afaf, #c4bcff, #5790df);
  --background-activated: linear-gradient(-45deg, #e6afaf, #c4bcff, #5790df);
  --background-focused: var(--ion-color-primary);
}

ion-button[slot='fixed'] {
  --border-radius: 624.9375rem;
  --background: linear-gradient(45deg, #cbc5f8, #a9caf9, #c1d6f7);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  --background-hover: linear-gradient(-45deg, #e6afaf, #c4bcff, #5790df);
  --background-activated: linear-gradient(-45deg, #e6afaf, #c4bcff, #5790df);
  --background-focused: var(--ion-color-primary);
  opacity: 0.5;
  top: 1%;
  right: 1.875rem;
  z-index: 10;
}

ion-input.custom,
ion-textarea.custom,
ion-select.custom {
  --background: transparent !important;
  --highlight-color-valid: var(--ion-color-success);
  --placeholder-opacity: 0.5;

  --label-color: var(--ion-color-secondary);
  --placeholder-font-size: 0.625rem;
  --padding-inner-bottom: 0.25rem;
  --padding--inner-top: 0.25rem;
  font-size: 0.75rem;
  --color: var(--ion-text-color);
  @media (min-width: 48rem) {
    font-size: 0.875rem;
  }
}

ion-input.custom.ios .input-bottom .helper-text,
ion-input.custom.ios .input-bottom .counter,
ion-input.custom.md .input-bottom .helper-text,
ion-input.custom.md .input-bottom .counter,
ion-textarea.custom.ios .textarea-bottom .helper-text,
ion-textarea.custom.ios .textarea-bottom .counter,
ion-textarea.custom.md .textarea-bottom .helper-text,
ion-textarea.custom.md .textarea-bottom .counter {
  color: var(--ion-color-secondary);
  font-size: 0.625rem;
  @media (min-width: 48rem) {
    font-size: 0.75rem;
  }
}

ion-input.custom.ios .input-bottom .error-text,
ion-input.custom.md .input-bottom .error-text,
ion-textarea.custom.ios .textarea-bottom .error-text,
ion-textarea.custom.md .textarea-bottom .error-text,
.select-error.error-text {
  font-size: 0.625rem;
  @media (min-width: 48rem) {
    font-size: 0.75rem;
  }
}

ion-icon.custom {
  color: var(--ion-color-medium);
}

ion-label.custom {
  color: var(--ion-color-medium);
}

ion-tab-button.tab-selected.custom {
  color: var(--ion-color-secondary);
}

ion-tab-button.tab-selected.custom ion-icon.custom,
ion-tab-button.tab-selected.custom ion-label.custom {
  color: var(--ion-color-secondary);
}

ion-tab-bar.custom {
  --background: transparent !important;
}

/* skeleton */

ion-skeleton-text {
  --border-radius: 624.9375rem;
  --background: rgba(38, 0, 255, 0.065);
  --background-rgb: 38, 0, 255;
}

ion-card.custom-card {
  width: 80%;
}

ion-content.custom-content {
  --background: transparent;
}

.data-section {
  margin-bottom: 1rem;
  text-align: center;
}

/* user modal  */
.custom-user-modal {
  --backdrop-opacity: 1;

  &::part(backdrop) {
    background: #00010d;
  }

  &::part(handle) {
    background: var(--ion-color-primary-contrast);
    width: 150px;
    height: 6px;
  }

  &::part(content) {
    border-radius: 24px;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 32%);
  }
}

ion-card.custom-card {
  position: relative;
  visibility: visible;
  box-shadow: none;
}

.custom-modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.custom-card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 624.9375rem;
  overflow: hidden;
}

ion-img.custom-avatar {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

ion-icon.custom-icon {
  font-size: 20px;
  color: #73849a;
}

ion-label .custom-label {
  font-size: 14px;
  color: #73849a;
}

ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
  margin-bottom: var(--ion-safe-area-bottom, 0);
}

ion-fab-button {
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: var(--ion-color-light);
}

.custom-fab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 36px;
  height: 36px;

  color: var(--ion-color-light);
  background-color: rgb(230, 238, 250);

  border-radius: 9999px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.custom-fab-button.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(239, 243, 248, 0.947);
}

.custom-fab-button.disabled .custom-icon {
  font-size: 20px;
  color: #73849a5b;
}

ion-fab-button::part(native) {
  color: var(--ion-color-light);
}

ion-fab-button::part(native):active {
  --background-color: var(--ion-color-primary);
}

.user-modal-fab {
  position: fixed;
  right: 1rem;
}

.user-group-fab {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
}

ion-fab-button[data-desc],
a[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after,
a[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  padding: 9px;

  border-radius: 15px;
  color: #73849a;
  background-color: rgb(230, 238, 250);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

a[data-desc].disabled::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  padding: 6px 9px;
  border-radius: 15px;

  min-width: 90px;
  height: auto;

  color: #73849a5b;
  background-color: rgba(239, 243, 248, 0.947);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

  pointer-events: none;
  cursor: not-allowed;
}

ion-list.custom-modal-list.ios-list {
  --background: var(--ion-item-background);
}

ion-list.custom-modal-list ion-item.custom-modal-item::part(native) {
  --background: transparent;
}
