body {
  font-style: normal;
  font-family: "Poppins",sans-serif;
  font-weight: 300;
  line-height: 20px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

ion-tab-bar {
  padding: 0.5rem;
}

ion-tab-button:hover {
  --background: #174ff71f;
  --color: var(--ion-color-dark);
  border-radius: 20px;
  transition: all 0.2s linear;
}

ion-tab-button ion-label {
  font-size: 0.8rem;
}
