.sorts {
  display: flex;
  overflow-x: auto;
  height: fit-content;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.sorts-skeleton {
  height: fit-content;
  margin-top: -0.2rem;
}

.sorts-container {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sorts-container::-webkit-scrollbar {
  display: none;
}
