.sorts {
  display: flex;
  overflow-x: auto;
  height: fit-content;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.sorts-container {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sorts-container::-webkit-scrollbar {
  display: none;
}

.sorts-container ion-skeleton-text.sort-skeleton {
  max-width: 80px;
  width: 64px;
  height: 27px;
  --border-radius: 8px;
}
